Average Rating: {{productRating}}

<h4>Comments:</h4>

{{#each product.comments as |comment|}}
  <li>
    Author: {{comment.author}} <br>
    Comment: {{comment.text}} <br>
    Rating: {{comment.rating}} <br>
    <button {{action 'deleteComment' comment}}>Delete Comment</button>
    <hr>
  </li>
{{/each}}
