{{#each shoppingCart.cartList as |item|}}
  {{item.name}} -- ${{item.price}}<button {{action 'deleteItemFromCart' item}}>Remove Item</button>
  <br>
{{/each}}
<br>
Number of items in cart: {{shoppingCart.items.length}}
<br>
Total cost of items in cart: {{shoppingCart.totalCart}}
